* {
    margin: 0;
    padding: 0;
}


/* 
font-family:'Montserrat', sans-serif,
font-family:'Open Sans', sans-serif,
*/


html {
    font-size: 62.5%;
}


/* body
font-family: 'Open Sans', sans-serif; Estilo da fonte
font-size: 1.6rem; tamano da fonte
color: var(--primary-color); variável criado
*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}


/* Estilo da fonte */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}


 /* tira a decoraçoes de todos os links */
a {
    text-decoration: none;
}
/* tamanho da fonte de h1 */
h1 {
    font-size: 6rem;
    text-transform: uppercase;
}


/* tamanho da fonte de h2 */
h2 {
    font-size: 5.5rem;
}


/* tamanho da fonte de h3 */
h3 {
    font-size: 5rem;
}


/* tamanho da fonte de h4 */
h4 {
    font-size: 4.5rem;
}


/* tamanho da fonte de h5 */
h5 {
    font-size: 4rem;
}


/* tamanho da fonte de h6 */
h6 {
    font-size: 3.5rem;
}